@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:wght@700&display=swap');

body {
  font-family: "Poppins", sans serif;
  line-height: 1.4;
  background-color: #f5ef8a;
  background-repeat: no-repeat;
  margin: auto;
}

img {
  border-radius: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  vertical-align: center;
}

.nav-link {

  font-size: 20px;
  margin: 20px 30px;
  text-decoration: none;
  color: purple;
  font-weight: bold;
  font-style: oblique;
}

p{
  text-align: justify;

}



.heading-general {
  color:purple;
  font-size: 30px;
  margin: 10px;
  font-weight: bold;
  font-style: oblique;
}

footer {
  text-align: left;
  padding: 4px;
  color: purple;
}

video {
  width: 560;
  height: 315;
}

.jumbotron-heading1 {
  margin: 30px 20px 10px 20px;
  font-size: 40px;
  font-style: oblique;
  color: purple;

}

html,
body {
  margin: 30px;
  height: 100%;

  }



  /* don't edit this */
  .jest-lite-report__status--pass {
    background: var(--color-pass);
  }

  .jest-lite-report__errors {
    display: none
  }